*.class
*.log
logs/
target/
build/
out/

# Maven / Gradle

.mvn/
.gradle/

# JAR/WAR

*.jar
*.war
*.ear

node_modules/
dist/
.angular/
out-tsc/
coverage/
*.tsbuildinfo

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db


.env
.env.*



*.tmp
*.swp
